header{
    align-content: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: fantasy;
    font-size: xx-large
}
  
body{
     background: linear-gradient(purple,red);

}

.frontPage{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
}
footer{
    font-size: 35px;
    font-family: fantasy;
    
}