header{
    text-align: center;
    background-color: darkorange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.cardPlanets{
    gap: 10px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
